 <h2 align="center" class="page-header">Dashboard</h2>
<p>Upload your files here</p>  
<form method="POST" enctype="multipart/form-data">
	<input type="file" class="form-control" name="myfile" /><br>
	<label>File Name as uploaded : </label>	<input class="form-control" type="text" name="filename" /><br>
	<label>Link : </label>	<input type="checkbox" name="is_file"> 
	<input type="text" class="form-control" name ="link"/><br>
	<input type="submit" name="submit" value="Upload">
	
</form>