 <h2 class="page-header">Dashboard</h2>
  <h3 align="center"><b>File List</b></h3>
<script type="x-template" id="the-tpl"></script>

<div  class="embed-responsive embed-responsive-16by9">
    <!-- in this example the tree is populated from inline HTML -->
 <iframe class="embed-responsive-item" src="http://localhost:8000"></iframe>

</div>